.status-section h2 {
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
  }
  .encrypt-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .title {
    text-align: center;
    color: #333;
  }
  
  .password-list-section, .encryption-section, .action-section, .status-section {
    margin-top: 20px;
  }
  
  .header-row {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  
  .search-bar {
    width: 40%;
    height: 40px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  li:hover {
    background: #f0f0f0;
  }
  
  li.selected {
    background: #007bff;
    color: white;
  }
  
  select {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  button:disabled {
    background-color: #aaa;
    cursor: not-allowed;
  }
  
  button:not(:disabled):hover {
    background-color: #0056b3;
  }
  
  .status-section {
    background: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
  }

  .status-done {
    background-color: #209400;
    color: white;
  }
  
  .status-in-progress {
    background-color: orange;
    color: black;
  }
  
  .status-failed {
    background-color: red;
    color: white;
  }
  
  .status-not-started {
    background-color: grey;
    color: white;
  }