<div class="upload-container">
    <div class="header">
      <h1>Jelszólista Kezelő</h1>
    </div>

    <div class="form-section">
      <h2>Új jelszólista létrehozása</h2>
      <form @submit.prevent="createPasswordList">
        <div class="input-group">
          <input
            type="text"
            v-model="newName"
            placeholder="Új azonosító megadása"
            maxlength="20"
            class="input"
          />
          <button type="submit" class="btn">Létrehoz</button>
        </div>
        <p v-if="errorMessage" class="error">{{ errorMessage }}</p>
      </form>
    </div>

    <div class="list-section">
      <h2>
        Jelenlegi Jelszólisták
        <input
          type="text"
          v-model="searchQuery"
          placeholder="Keresés név szerint..."
          class="search-bar"
        />
      </h2>
      <ul v-if="filteredPasswordLists && filteredPasswordLists.length" class="password-list">
        <li
          v-for="list in filteredPasswordLists"
          :key="list.name"
          class="list-item"
        >
          <span class="identifier">{{ list.name }}</span>

          <span
            class="status"
            :class="list.encryption[0] === 'None' || list.encryption.length === 1 && list.encryption[0] == ''? 'missing' : 'uploaded'"
          >
            Titkosított fájl:
            {{ list.encryption[0] === 'None' || list.encryption.length === 1 && list.encryption[0] == '' ? 'Nincs fájl feltöltve' : list.encryption.join(',') }}
            <button
              v-if="!(list.encryption[0] === 'None' || list.encryption.length === 1 && list.encryption[0] == '')"
              @click="downloadFile(list.name, 'encrypted')"
              class="download-btn"
            >
              Letöltés
            </button>
          </span>

          <span
            class="status"
            :class="list.raw === 'false' ? 'missing' : 'uploaded'"
          >
            Nyers fájl:
            {{ list.raw === 'false' ? 'Nincs fájl feltöltve' : 'Elérhető' }}
            <button
              v-if="list.raw !== 'false'"
              @click="downloadFile(list.name, 'raw')"
              class="download-btn"
            >
              Letöltés
            </button>
          </span>

          <div class="actions">
            <label>
              Titkosított feltöltése:
              <input
                type="file"
                @change="handleFileUpload($event, list.name, 'encrypted')"
              />
              <select
                v-model="encryptionType[list.name]"
                class="encryption-select"
              >
                <option disabled value="">Válasszon titkosítási típust</option>
                <option value="MD5">MD5</option>
                <option value="SHA1">SHA1</option>
                <option value="SHA256_PS">SHA256_PS</option>
                <option value="SHA256_SP">SHA256_SP</option>
                <option value="SHA256">SHA256</option>
                <option value="NTLM">NTLM</option>
                <option value="Scrypt">Scrypt</option>
                <option value="PBKDF2">PBKDF2</option>
              </select>
            </label>
            <label>
              Nyers feltöltése:
              <input
                type="file"
                @change="handleFileUpload($event, list.name, 'raw')"
              />
            </label>
          </div>
        </li>
      </ul>

      <p v-else>Nincsenek jelszólisták.</p>
    </div>
  </div>