<div class="password-cracking-container">
    <section class="crack-type-section">
      <h2>Visszafejtés típusa</h2>
      <select v-model="selectedCrackType" @change="handleCrackTypeChange">
        <option disabled value="">Válasszon ki egy visszafejtés típust a listából!</option>
        <option value="dictionary">Dictionary</option>
        <option value="mask">Mask</option>
      </select>
    </section>

    <section class="encrypted-password-list-section">
      <h2>Visszafejtendő jelszó lista</h2>
      <ul v-if="passwordLists.length">
        <li
          v-for="file in passwordLists"
          :key="file.name"
          @click="selectPasswordList(file)"
          :class="{ selected: selectedPasswordList && selectedPasswordList.name === file.name }"
        >
          {{ file.name }}
        </li>
      </ul>
      <p v-else>Nincs elérhető jelszó lista.</p>
    </section>

    <section v-if="selectedCrackType === 'dictionary'" class="wordlist-section">
      <h2>Wordlist</h2>
      <ul v-if="wordlistOptions.length">
        <li
          v-for="file in wordlistOptions"
          :key="file.name"
          @click="selectWordlist(file)"
          :class="{ selected: selectedWordlist && selectedWordlist.name === file.name }"
        >
          {{ file.name }}
        </li>
      </ul>
      <p v-else>Nincs elérhető wordlist fájl.</p>

      <h2>Pattern(opcionális)</h2>
      <select v-if="patternOptions.length" v-model="selectedPattern">
        <option disabled value="">Válasszon ki egy patternt a listából!</option>
        <option value="">Pattern kihagyása</option>
        <option v-for="pattern in patterns" :key="pattern" :value="pattern">
          {{ pattern }}
        </option>
      </select>
      <p v-else>Nincs elérhető pattern.</p>
    </section>

    <section v-if="selectedCrackType === 'mask'" class="mask-section">
      <h2>Mask</h2>
      Írd be a használni kívánt maszkot:
      <input
        type="text"
        v-model="maskInput"
      />
      <small class="mask-info"><br />
        ?l = abcdefghijklmnopqrstuvwxyz<br />
        ?u = ABCDEFGHIJKLMNOPQRSTUVWXYZ<br />
        ?d = 0123456789<br />
        ?h = 0123456789abcdef<br />
        ?H = 0123456789ABCDEF<br />
        ?s = «space»!"#$%&'()*+,-./:;&lt;=&gt;?@[\]^_`{|}~<br />
        ?a = ?l?u?d?s<br />
        ?b = 0x00 - 0xff
      </small>
    </section>

    <section v-if="selectedPasswordList" class="encryption-selection">
      <h2>Enkriptálás</h2>
      <select v-model="selectedEncryption" @change="checkEncryption">
        <option disabled value="">Válasszon ki egy enkriptálást a listából!</option>
        <option v-for="encryption in selectedPasswordList.encryption" :key="encryption" :value="encryption">
          {{ encryption }}
        </option>
      </select>
    </section>

    <section v-if="crackingStatus" class="action-section">
      <button :disabled="!canStart" @click="showDescriptionDialog">
        Start
      </button>
      <button v-if="crackingStatus.Status === 'In Progress' || crackingStatus.Status === 'Starting'" @click="cancelCracking">
        Cancel
      </button>
    </section>


    <section v-if="crackingStatus" :class="['status-section', statusClass]">
      <h2>Visszafejtés állapota</h2>
      <p v-if="crackingStatus.Status">Státusz: {{ crackingStatus.Status }}</p>
      <p v-if="crackingStatus['Speed1']">Sebesség1: {{ crackingStatus['Speed1'] }}</p>
      <p v-if="crackingStatus['Error']">Hiba: {{ crackingStatus['Error'] }}</p>
      <p v-if="crackingStatus['Speed2']">Sebesség2: {{ crackingStatus['Speed2'] }}</p>
      <p v-if="crackingStatus['Progress']">Progress: {{ crackingStatus['Progress'] }}</p>
      <p v-if="crackingStatus['Hardware.GPU']">GPU: {{ crackingStatus['Hardware.GPU'] }}</p>
      <p v-if="crackingStatus['Hardware.CPU']">CPU: {{ crackingStatus['Hardware.CPU'] }}</p>
      <p v-if="crackingStatus['Time.Started']">Indítás ideje: {{ crackingStatus['Time.Started'] }}</p>
      <p v-if="crackingStatus['Time.Estimated']">Becsült befejezési idő: {{ crackingStatus['Time.Estimated'] }}</p>
      <p v-if="crackingStatus['Recovered']">Visszafejtett: {{ crackingStatus['Recovered'] }}</p>
      <p v-if="remainingTime">Maradt idő: {{ remainingTime }}</p>
      <p v-if="crackingStatus['Time.Stopped']">Befejeződött ekkor: {{ crackingStatus['Time.Stopped'] }}</p>
  </section>
  </div>